---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import BlogCard from "../../components/blog/BlogCard.astro";
import Breadcrumbs from "../../components/blog/Breadcrumbs.astro";
import Pagination from "../../components/blog/Pagination.astro";

const allArticles = await getCollection("articles");
const sortedArticles = allArticles.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

const url = new URL(Astro.request.url);
const currentPage = parseInt(url.searchParams.get("page") || "1", 10);

const postsPerPage = 6;
const totalPages = Math.ceil(sortedArticles.length / postsPerPage);

const start = (currentPage - 1) * postsPerPage;
const end = start + postsPerPage;
const currentArticles = sortedArticles.slice(start, end);
---

<Base title="Artigos" meta_title="Artigos | FFC">
  <section class="px-6 pt-32 pb-20 max-w-7xl mx-auto">
<h1 class="text-center text-[#313d25] text-4xl font-extrabold uppercase tracking-[3px] mb-12">
      Artigos
    </h1>

    <div class="flex flex-wrap justify-start gap-10">
      {currentArticles.map((article) => (
        <div class="w-full md:w-[30%] h-full">
          <BlogCard article={article} />
        </div>
      ))}
    </div>

    <Pagination currentPage={currentPage} totalPages={totalPages} baseUrl="/articles" />
  </section>
</Base>
