---
import aboutHeader from "../../assets/img/aboutheader.jpg";
import biblioteca1 from "../../assets/img/biblioteca_publica_do_parana_-_creditos_gabriel_rosa.jpg";
import biblioteca2 from "../../assets/img/biblioteca_publica_do_parana_creditos_jose_fernando_ogura_aen_2.jpg";

const images = [aboutHeader.src, biblioteca1.src, biblioteca2.src];
const randomImage = images[Math.floor(Math.random() * images.length)];
---

<header
  id="home"
  style={`background-image: url(${randomImage})`}
  class="relative h-screen bg-cover bg-center"
>
  <div class="absolute inset-0 bg-black/70"></div>
  <main
    class="relative z-10 flex flex-col items-center justify-center h-full text-center px-4"
  >
    <h1 class="font-cinzel text-5xl md:text-8xl font-bold text-white mb-6 tracking-widest">FFC</h1>
    <p class="font-cormorant text-xl md:text-3xl text-white mb-8 max-w-2xl uppercase tracking-widest">
      advocacia e soluções jurídicas
    </p>
  </main>
</header>
